@{
    ViewBag.Title = "PostMagnet - View all posts";
    ViewBag.Description = "PostMagnet - View all posts";
    ViewData["Controller"] = "Post";
    ViewData["Action"] = "Posts";
}
@section page_external_plugins_css{
    <link href="~/Content/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/global/plugins/jquery-notific8/jquery.notific8.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />

    <!-- Html editor -->
    <link href="~/Content/global/plugins/bootstrap-summernote/summernote.css" rel="stylesheet" type="text/css" />
}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Post List</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-8">
                            @if (User.EmployeeRole == "Contributor")
                            {
                                <div class="btn-group">
                                    <button id="add-post" class="btn sbold green" style="margin-right: 10px;">
                                        Add New Post
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            }
                        </div>
                        <div class="col-md-2">
                            <select class="bs-select form-control" id="filter-post-quality">
                                <option value="All" selected="selected">Show All</option>
                                <option value="Good">Good</option>
                                <option value="Normal">Normal</option>
                                <option value="Bad">Bad</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="bs-select form-control" id="filter-post-status">
                                <option value="All" selected="selected">Show All</option>
                                <option value="Draft">Draft</option>
                                <option value="Submitted">Submitted</option>
                                <option value="Denied">Denied</option>
                                <option value="Approved">Approved</option>
                                <option value="Scheduled">Scheduled</option>
                                <option value="Posted">Posted</option>
                            </select>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="post-table">
                    <thead>
                    <tr>
                        <th>
                            <input type="checkbox" class="group-checkable" data-set="#post-table .checkboxes"/>
                        </th>
                        <th> Title </th>
                        <th> Author </th>
                        <th> Date </th>
                        <th> Status </th>
                        <th> Action </th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <!-- END TABLE PORTLET-->
        <!-- BEGIN EXTRA PAYMENT DIALOG-->
        <div id="post-payment-list-dialog" class="modal fade bs-modal-lg" tabindex="-1" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Post's Extra Payment List</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portlet light form-fit bordered">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class=" icon-layers font-green"></i>
                                            <span class="caption-subject font-green bold uppercase">Extra Payment List</span>
                                        </div>
                                    </div>
                                    <div class="portlet-body form">
                                        <form class="form-horizontal form-bordered">
                                            <div class="form-body">
                                                <div id="payment-list">

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END EXTRA PAYMENT DIALOG -->
        @if (User.EmployeeRole == "Administrator" || User.EmployeeRole == "Editor")
        {
            <!-- BEGIN APPROVE/DENY DIALOG-->
            <div id="post-dialog" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-full">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="portlet light form-fit bordered">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class=" icon-layers font-green"></i>
                                                <span class="caption-subject font-green bold uppercase">Post Approval/Denial</span>
                                            </div>
                                        </div>
                                        <div class="portlet-body form">
                                            <script type="text/javascript">
                                                var formApprovePostAction = "@Url.Action("quickapprovepost", "post")";
                                                var formDeliveryPostAction = "@Url.Action("quickdeliverypost", "post")";
                                                var formChangeSchedulePostAction = "@Url.Action("quickschedulepost", "post")";
                                                var postActionMode = 1;
                                                var postActionStatus = false;
                                                var postScheduleDate;
                                            </script>
                                            <form class="form-horizontal form-bordered" id="form-post-action-detail">
                                                <div class="form-body">
                                                    <div class="form-group hide">
                                                        <label class="control-label col-md-2">Post Code (*)</label>
                                                        <div class="col-md-10">
                                                            <input type="text" class="form-control" name="post_code" id="post-code"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group" id="post-confirmation-action">
                                                    <label class="control-label col-md-3">Please choose an action</label>
                                                    <div class="col-md-9">
                                                        <select class="bs-select form-control" id="post-confirmation">
                                                            <option value="" disabled selected>Choose an action</option>
                                                            <option value="Approved">Approve</option>
                                                            <option value="Denied">Deny</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group hide" id="post-submission-action">
                                                    <label class="control-label col-md-3">Do you want to submit the post?</label>
                                                    <div class="col-md-9">
                                                        <select class="bs-select form-control" id="post-submission">
                                                            <option value="No" selected>Not yet</option>
                                                            <option value="Yes">Submit now</option>
                                                            <option value="Schedule">Make it a scheduled post</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group hide" id="post-submit-details">
                                                    <label class="control-label col-md-3">Please choose website & category</label>
                                                    <div class="col-md-4">
                                                        <select class="bs-select form-control" id="post-to-website"></select>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <select class="bs-select form-control" id="post-to-category"></select>
                                                    </div>
                                                </div>
                                                <div class="form-group hide" id="post-schedule-details">
                                                    <label class="control-label col-md-3">Please choose your desired time</label>
                                                    <div class="col-md-9">
                                                        <div id="post-schedule" class="btn default">
                                                            <i class="fa fa-calendar"></i> &nbsp;
                                                            <span> </span>
                                                            <b class="fa fa-angle-down"></b>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
                            <button type="button" class="btn green" id="post-submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END APPROVE/DENY DIALOG -->
        }
    </div>
</div>

@section page_external_plugins_scripts{
    @Scripts.Render("~/Content/js/post_list_external_plugins")
}
@if (User.EmployeeRole == "Administrator")
{
    @section page_scripts{
        @Scripts.Render("~/Content/js/admin_post_list_page_scripts")
    }
}
@if (User.EmployeeRole == "Editor")
{
    @section page_scripts{
        @Scripts.Render("~/Content/js/editor_post_list_page_scripts")
    }
}
@if (User.EmployeeRole == "Contributor")
{
    @section page_scripts{
        @Scripts.Render("~/Content/js/contributor_post_list_page_scripts")
    }
}